h1,
h2,
h3 {
  margin: 0;
  padding: 1rem 0;
}

a:link,
a:visited,
a:hover,
a:active {
  color: steelblue;
}

.app-container {
  max-width: 800px;
  margin: 5rem auto 20rem;
  padding: 2rem;
  background: white;
}

.experiment-container,
.text-card {
  padding: 2rem 0;
  border-bottom: 1px solid lightgrey;
}

.app-container p,
.app-container ul,
.app-container ol {
  padding: 1.25rem 0;
}

.app-container ul,
.app-container ol {
  margin-left: 2rem;
}

.experiment-container label {
  display: block;
  padding: 0.5rem 0;
  font-weight: 500;
}

.experiment-container button {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.experiment-container input[type="range"] {
  display: block;
  width: 100%;
}

.MafsView {
  margin: 2rem auto;
}
